<!doctype html>
<html lang="en" ng-app="tracHome">
<head>
  <meta charset="utf-8">
  <title>Angular Trac Client</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="TracHomeCtrl">

  <p>Nothing here {{'yet' + '!'}}</p>

  <p>
    <input type="text" ng-model="name"/>
  </p>

  <p id="hello">Hello {{name}}!</p>

  <p>Here are list Tickets</p>

  <ul>
    <li ng-repeat="ticket in tickets">
      {{ticket.id}} - {{ticket.summary}}
    </li>
  <ul>

</body>
</html>
